-content_for :menu do
  #menu

.entry
  .entry-message
    %p Flock is an IRC channel transcriber. Flock captures discussions in IRC chat rooms and provides conversation browsing.
    %p Select an IRC Channel to start -> 
